body {
    margin: 0;
    background: black;
    overflow: hidden;
}

canvas {
    display: block;
}

/* PUNTINI NELLA SCHERMATA NERA */
.dot {
    position:absolute;
    width:12px;
    height:12px;
    background:#00ff00;
    border-radius:50%;
    pointer-events:none;
}
